<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.rodrigolmti.authentication">

    <application android:theme="@style/AppTheme">
        <activity
            android:name=".ui.AuthenticationActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="br.com.rodrigolmti.authentication.open" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>