<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="br.com.rodrigolmti.password.handler">

    <application
        android:name="br.com.rodrigolmti.password.handler.MainApp"
        android:icon="@mipmap/ic_launcher"
        android:installLocation="internalOnly"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="br.com.rodrigolmti.password.handler.ui.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- [START macrobenchmark_setup_profileable] -->
        <!-- enable profiling by macrobenchmark -->
        <profileable
            android:shell="true"
            tools:targetApi="q" />
        <!-- [END macrobenchmark_setup_profileable] -->

    </application>

</manifest>